<.header>
  Edit "{@template.name}"
</.header>

<.template_form changeset={@changeset} action={~p"/templates/#{@template}"} word_types={@word_types} />

<.back navigate={~p"/templates"}>All Templates</.back>
