<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>Error</.error>
  <.input field={f[:text]} type="text" label="Text" />
 <.input 
    field={f[:word_type_id]} 
    type="select" 
    label="Type" 
    options={Enum.map(@word_types, &{&1.name, &1.id})}
    prompt="Select word type"
    required 
  />  
  <:actions>
    <div class="w-full text-center">
      <.button>Save Word</.button>
    </div>
  </:actions>
</.simple_form>