<.header>
  My Types
  <:actions>
    <.link href={~p"/word_types/new"}>
      <.button>Add</.button>
    </.link>
  </:actions>
</.header>

<.table id="word_types" rows={@word_types} row_click={&JS.navigate(~p"/word_types/#{&1}/edit")}>
  <:col :let={word_type} label="Name">{word_type.name}</:col>
  <:action :let={word_type}>
    <.link href={~p"/word_types/#{word_type}"} method="delete" data-confirm="Are you sure?">
      <.icon name="hero-x-mark" />
    </.link>
  </:action>
</.table>
