<.header>
  New Type
  <:subtitle>Enter the name of a new category of words</:subtitle>
</.header>

<.word_type_form changeset={@changeset} action={~p"/word_types"} />

<.back navigate={~p"/word_types"}>All Types</.back>
