<.header>
  Type "{@word_type.name}"
  <:actions>
    <.link href={~p"/word_types/#{@word_type}/edit"}>
      <.button>Edit</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name">{@word_type.name}</:item>
</.list>

<.back navigate={~p"/word_types"}>All Types</.back>
