<.simple_form :let={f} for={@changeset} action={@action}>
  <.input field={f[:name]} type="text" label="Type Name" />
  <:actions>
    <div class="w-full text-center">
      <.button>Save Type</.button>
    </div>
  </:actions>
</.simple_form>
